<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.crud.bbs.mapper.BbsMapper">


    <select id="selectBbsList" resultType="board.crud.bbs.domain.BbsVO">
        select
            seq,
            id,
            ref,
            step,
            depth,
            title,
            content,
            created_at AS createdAt,
            del,
            read_count AS readCount
        from bbs
        order by seq desc
    </select>




<!--    id로 검색-->

    <select id="selectBbsById" resultType="board.crud.bbs.domain.BbsVO">
        select
            seq,
            id,
            ref,
            step,
            depth,
            title,
            content,
            created_at AS createdAt,
            del,
            read_count AS readCount
        from bbs
        where id = #{id}
    </select>


<!--    // seq로 검색-->
    <select id="selectBbsBySeq" resultType="board.crud.bbs.domain.BbsVO">
        select
            seq,
            id,
            ref,
            step,
            depth,
            title,
            content,
            created_at AS createdAt,
            del,
            read_count AS readCount
        from bbs
        where seq = #{seq}
    </select>

    <insert id="insertBbs" parameterType="board.crud.bbs.domain.BbsVO">
        insert into bbs(id, ref, step,depth,title, content,created_at,del,read_count)
        values (#{id},#{ref},#{step},#{depth},#{title},#{content},now(),#{del},#{readCount})
    </insert>



    <update id="updateBbs" parameterType="board.crud.bbs.domain.BbsVO">
        update bbs
        set
            id = #{id},
            ref = #{ref},
            step = #{step},
            depth = #{depth},
            title = #{title},
            content = #{content},
            del = #{del},
            read_count = #{readCount}
        where seq = #{seq}
    </update>

    <delete id="deleteBbs" parameterType="int">
        delete from bbs
        where seq = #{seq}
    </delete>
</mapper>
        <!--        selectBbsById-->
        <!--        insertBbs-->
        <!--        updateBbs-->
        <!--        deleteBbs-->